<div class="min-h-screen flex items-center justify-center bg-white">
  <div class="bg-[#1B355E] shadow-2xl rounded-lg p-8 w-full max-w-md transform transition-all duration-500 hover:scale-105">
    <!-- Header with Custom Styling -->
    <div class="flex items-center justify-center -mt-12">
      <div class="bg-[#F1B434] rounded-full h-24 w-24 flex items-center justify-center">
        <h2 class="text-2xl font-bold text-[#1B355E]">Log In</h2>
      </div>
    </div>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" novalidate class="mt-8">

      <!-- Email Field -->
      <div class="mb-4">
        <label for="email" class="block text-sm font-medium text-gray-300 mb-2">Email</label>
        <input 
          id="email" 
          formControlName="email" 
          type="email" 
          class="w-full px-3 py-2 border rounded-lg text-sm shadow-sm focus:outline-none focus:ring focus:ring-[#143C] focus:border-[#143C]"
          placeholder="Enter your email">
        <div *ngIf="submitted && f['email'].errors" class="text-xs text-red-500 mt-1">
          <small *ngIf="f['email'].errors['required']">Email is required</small>
          <small *ngIf="f['email'].errors['email']">Invalid email format</small>
        </div>
      </div>

      <!-- Password Field -->
      <div class="mb-4">
        <label for="password" class="block text-sm font-medium text-gray-300 mb-2">Password</label>
        <input 
          id="password" 
          formControlName="password" 
          type="password" 
          class="w-full px-3 py-2 border rounded-lg text-sm shadow-sm focus:outline-none focus:ring focus:ring-[#143C] focus:border-[#143C]"
          placeholder="Enter your password">
        <div *ngIf="submitted && f['password'].errors" class="text-xs text-red-500 mt-1">
          <small *ngIf="f['password'].errors['required']">Password is required</small>
          <small *ngIf="f['password'].errors['minlength']">Password too short</small>
        </div>
      </div>

       <!-- Forgot Password Link -->
       <div class="flex justify-end mb-4">
        <a routerLink="/forgot-password" class="text-sm text-[#F1B434] hover:underline">
          Forgot Password?
        </a>
      </div>

      <!-- Submit Button -->
      <button 
        type="submit" 
        class="w-full bg-[#F1B434] text-white py-2 rounded-lg text-sm font-medium transform transition-all duration-300 hover:bg-[#f19f34] hover:scale-105 focus:ring focus:ring-[#534C]">
        Log In
      </button>
    </form>

    <!-- Error Message -->
    <div *ngIf="errorMessage" class="mt-4 text-sm text-red-500 text-center">
      {{ errorMessage }}
    </div>

    <!-- Footer Links -->
    <div class="text-center mt-4">
      <p class="text-sm text-gray-300">
        Don't have an account? 
        <a routerLink="/signup" class="text-[#F1B434] hover:underline">Sign Up</a>
      </p>
    </div>
  </div>
  
</div>
