:host {
    display: block;
  }
  
  .table-container {
    overflow-x: auto;
    max-height: 70vh; /* Limits table height to 70% of viewport height */
    overflow-y: auto;
    scrollbar-width: thin; /* For Firefox */
    scrollbar-color: #F1B434 #e5e7eb; /* For Firefox - thumb and track colors */
  }
  
  /* For Webkit browsers (Chrome, Safari, etc.) */
  .table-container::-webkit-scrollbar {
    width: 8px;
  }
  
  .table-container::-webkit-scrollbar-track {
    background: #e5e7eb;
    border-radius: 4px;
  }
  
  .table-container::-webkit-scrollbar-thumb {
    background: #F1B434;
    border-radius: 4px;
  }
  
  .table-container::-webkit-scrollbar-thumb:hover {
    background: #1B355E;
  }
  